.menu {
  position: relative;
  display: flex;
  height: 80px;
  width: 100%;
  z-index: 8;
}

.menu__btn {
  position: absolute;
  right: 0;
  display: none;
  aspect-ratio: 1;
  width: 50px;
  background-color: rgb(var(--color-background));
  cursor: pointer;
  margin-top: 10px;
}
.menu__btn span {
  position: absolute;
  left: calc(50% - 30px / 2);
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(var(--color-primary));
  transition:
    transform 0.5s linear,
    opacity 0.5s linear;
}
.menu__btn span:nth-child(1) {
  transform: translateY(10px);
}
.menu__btn span:nth-child(3) {
  transform: translateY(-10px);
}
.menu__btn_close span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.menu__btn_close span:nth-child(2) {
  opacity: 0;
}
.menu__btn_close span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
.logo {
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 100%;
}
.logo > img {
  height: 80%;
  margin: 0 1rem;
}
.logo > p {
  font-size: var(--font-size-title);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-regular-bold);
  color: rgb(var(--color-primary));
}
.menu_list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  padding-right: calc(20vw - 40px - 16px);
}

.menu_item a {
  padding: 5px;
  border-radius: 20px;
  font-size: calc(var(--font-size-title) - 0.6rem);
}
.menu_item:last-child {
  position: absolute;
  right: 0;
}
.logout {
  cursor: pointer;
  margin-right: 16px;
  background-color: rgb(var(--color-background));
}

.logout > img {
  height: 40px;
}
.logout > img:hover {
  transform: scale(1.2);
}
@media (width <= 800px) {
  .menu__btn {
    display: block;
  }
  .menu_list {
    position: absolute;
    display: none;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(var(--color-background));
    padding-right: 0;
  }
  .menu_item:last-child {
    position: relative;
  }
  .menu_active {
    display: flex;
    animation: open 0.5s linear forwards;
  }
  .menu__close {
    display: flex;
    animation: close 0.5s linear forwards;
  }
  .logout {
    margin-right: 0;
  }
}
@keyframes open {
  from {
    clip-path: circle(0% at 100% 0);
  }
  to {
    clip-path: circle(141.2% at 100% 0);
  }
}
@keyframes close {
  from {
    clip-path: circle(141.2% at 100% 0);
  }
  to {
    display: none;
    clip-path: circle(0% at 100% 0);
  }
}
