
.layoutHeader{
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: flex-start;
}
.headerLink{
  display: flex;
  padding: 0.25rem 1rem;
}
.isLinkActive{
  border-bottom: 3px solid var(--borderBottom);
}
