:root {
  --primary: rgb(64, 171, 232);
  --secondary: rgb(15, 76, 117);
  --third: rgb(20, 0, 255);
  --modalTransparency: rgba(15, 76, 117, 0.7);
  --highlight: rgb(255, 255, 255);
  --borderBottom:  rgb(64, 171, 232);
}