:root {
  --primary: rgb(64, 171, 232);
  --secondary: rgb(15, 76, 117);
  --third: rgb(21, 0, 255);
  --modalTransparency: rgba(64, 171, 232, 0.8);
  --highlight: rgb(255, 255, 255);
  --borderBottom: rgb(64, 171, 232);
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
