.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  aspect-ratio: 1;
  height: 50px;
  border-radius: 10px;
}
.img {
  filter: drop-shadow(2px 2px 1px rgba(var(--color-shadow)));
  object-fit: contain;
  height: 100%;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transform: scale(0.9);
}
