.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--color-background) / 80%);
}
.loading > img {
  animation: rotation 1.5s linear both infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(calc(360deg / 6));
  }
  100% {
    transform: rotate(calc(360deg / 6));
  }
}
