.container {
  display: flex;
  place-content: center;
  height: calc(100vh - 80px);
  background: linear-gradient(90deg, rgba(43, 86, 244, 1) 42%, rgba(64, 171, 232, 1) 100%);
}
.container_turn {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 40%;
  height: 100%;
}
.container_turn > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 70%;
  border-radius: 30px;
  background-color: rgba(var(--color-background));
  box-shadow:
    50px 50px 100px 10px rgba(var(--color-shadow) / 40%),
    10px 5px 30px 0px rgba(var(--color-shadow) / 30%) inset;
  -webkit-box-shadow:
    50px 50px 100px 10px rgba(var(--color-shadow) / 40%),
    10px 5px 30px 0px rgba(var(--color-shadow) / 30%) inset;
  -moz-box-shadow:
    50px 50px 100px 10px rgba(var(--color-shadow) / 40%),
    10px 5px 30px 0px rgba(var(--color-shadow) / 30%) inset;
  overflow: hidden;
}
.container_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
}
.container_options {
  text-align: center;
  height: 50px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0px rgba(var(--color-shadow) / 80%) inset;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(var(--color-shadow) / 80%) inset;
  -moz-box-shadow: 5px 5px 10px 0px rgba(var(--color-shadow) / 80%) inset;
  outline: none;
}
.container_options:focus-within {
  background-color: rgba(var(--color-fourt));
}
.container_options option {
  border-radius: 15px;
}
.container_info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
}
.qr_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(var(--color-background));
  box-shadow: 5px 5px 10px 0px rgba(var(--color-shadow) / 80%) inset;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(var(--color-shadow) / 80%) inset;
  -moz-box-shadow: 5px 5px 10px 0px rgba(var(--color-shadow) / 80%) inset;
}
.qr_container > a:hover {
  transform: scale(1.1);
}
.container__screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (width <= 1200px) {
  .container_turn > div {
    width: 80%;
  }
  .container_info,
  .container_turn {
    width: 50%;
  }
}
@media (width <= 800px) {
  .container_info {
    display: none;
  }
  .container_turn {
    justify-content: center;
    width: 100%;
  }
  .container_active {
    display: flex;
  }
  .container_desactive {
    display: none;
  }
}
