.loginContainer {
  height: 100vh;
  margin: 0 20px;
  display: grid;
  align-content: center;
  grid-template-columns: 40% 60%;
  grid-template-areas: 'left right';
}

.imgContainer {
  grid-area: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: contain;
}
.imgContainer svg {
  display: block;
  width: 90%;
  height: auto;
  position: relative;
}
#nubes {
  animation: nube 3s ease-in-out infinite;
}
@keyframes nube {
  35% {
    transform: translate(0, -5px);
  }
  70% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0);
  }
}

.formContainer {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.formContainer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 30px;
}
.formContainer_logo > svg {
  display: block;
  width: 100%;
}

.formContainer_input,
.formContainer_passwordinput {
  margin-bottom: 2rem;
}

.div_passwordInput {
  display: flex;
  justify-content: center;
}

.formContainer_passwordinput {
  width: 57%;
}

.formContainer_button {
  margin-bottom: 1rem;
}

.formContainer_errorMessage {
  color: rgb(247, 58, 58);
  margin-bottom: 1.25rem;
}

@media (max-width: 1020px) {
  .imgContainer {
    display: none;
  }
  .loginContainer {
    grid-template-columns: 1fr;
  }
}
