.statisticsContainer{
    min-height: 100vh;
    margin: 0 100px;
    display: grid;
    grid-template-rows: 100px 1fr;
}
.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.headerLink{
    display: flex;
    padding: 0.25rem 1rem;
}
.linkActive{
border-bottom: 3px solid var(--borderBottom);
}
.statistics{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    border-top: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
}
