.statisticsContainer{
    margin: 0 100px;
}

.statistics{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    height: 80vh;
}
.statisticsButtons{
    padding: 5px 0;
}
.statisticsButtons button:nth-child(2){
    margin-left: 10px;
}
.containerChart{
    width: 60%;
    height: 100%;
    padding-right:5% ;
}
.CompletedOrders{
    width: 40%;
    height: 90%;
}
.CompletedOrders > ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 100%;
}
.CompletedOrders > ul::-webkit-scrollbar {
    width: 20px;               /* width of the entire scrollbar */
}

.CompletedOrders > ul::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
}
.CompletedOrders > ul::-webkit-scrollbar-thumb {
    background-color: var(--primary);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid white;  /* creates padding around scroll thumb */
}
.CompletedOrders > ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-radius: 80px;
    border-bottom: 3px solid white;
    background: linear-gradient(90.01deg, var(--primary) -5.74%, rgba(72, 202, 228, 0.7) 49.63%, var(--primary) 104.99%);
    
}
.CompletedOrders > ul li p{
    margin: 0;
    padding: 0;
}

@media (max-width: 1000px) {
    .CompletedOrders{
        display: none;
    }
    .containerChart{
        width: 100%;
        height: 100%;
        padding-right:0 ;
    }
}
@media (max-width: 600px) {
    .CompletedOrders{
        display: none;
    }
}
@media (max-width: 600px) {
    .statisticsContainer{
        margin: 0 5px ;
    }
}