.itemFoodContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 10px;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

span {
  font-size: 16px;
}

.iconsContainer{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.iconContainer{
  cursor: pointer;
}