.dashboardContainer{
  margin: 0 100px;
  display: grid;
  align-content: center;
  grid-template-rows: 60px 1fr;
}
.dashboardHeader{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dashboardFilter{
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--secondary);
}
.dashboardBody{
  position: relative;
  height: 75vh;
  overflow-y: scroll;
  border-bottom: 3px solid var(--secondary);
}
.dashboardBody::-webkit-scrollbar {
  width: 20px;               /* width of the entire scrollbar */
}

.dashboardBody::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

.dashboardBody::-webkit-scrollbar-thumb {
  background-color: var(--primary);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

.orderContainer{
  position: absolute;
  margin: 0 15%;
  width: 70%;
}
.orderContainer > ul{
  margin: 0;
  padding: 0;
}

.order{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 1rem 0.5rem ;
  margin: 0.25rem 0;

}
.order div:nth-child(1){
  display: inherit;
  gap: 15px;
  font-size: 1.2rem;
}

.orderButton{
  background-color: var(--highlight);
}
.orderButton:nth-child(2){
  border-left: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
}


@media (max-width: 1300px) {
  .orderContainer{
    margin: 0 5%;
    width: 90%;
  }
  
}
@media (max-width: 1000px) {
  .dashboardBody{

    position: relative;
    overflow-y: scroll;
    border-bottom: 3px solid var(--secondary);
  }
  .orderContainer{

    margin: 0;
    width: 100%;
  }
  .order{
    position: relative;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 600px) {
  .dashboardContainer{
    margin: 0 30px;
    display: grid;
    align-content: center;
    grid-template-rows: 100px 60px 1fr;
  }
}