.window {
  z-index: 999;
  position: fixed !important;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: 100vh;
  background-color: var(--modalTransparency);
  padding: 0 !important;
  margin: 0 !important;
}
.window div {
  width: unset !important;
}

.modal {
  position: relative;
  height: 50%;
  width: 50%;
  background-color: var(--highlight);
  border-radius: 20px;
  overflow: hidden;
  padding-top: 1rem;
}
.modalButton {
  position: absolute;
  color: var(--secondary);
  background: var(--highlight);
  top: 0;
  right: 0;
}
.modalButton:hover {
  transform: scale(1.2);
  color: var(--primary);
}
.modalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
  padding: 0 3rem;
}
.modalForm > input {
  text-align: center;
}
.modalForm > input:nth-child(1) {
  background-color: var(--primary);
  border: none;
}

select {
  color: var(--secondary);
  border: none;
  outline: none;
  border-bottom: 3px solid var(--borderBottom);
  padding: 0.2em 0.5em;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8125rem;
  font-family: inherit;
  background-color: var(--highlight);
}

.divSelectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.qrModal {
  display: flex;
  flex-direction: column;
  background-color: var(--highlight);
  padding: 1rem;
  border-radius: 100px;
  overflow: hidden;
}
.qrModal h2 {
  margin: 0;
  padding-top: 1rem;
}
.qrImg {
  object-fit: contain;
  width: 80vw;
  max-height: 80vh;
}

.errorMessage {
  color: rgb(247, 58, 58);
}

@media screen and (max-width: 700px) {
  .modal {
    width: 80%;
  }
  .qrModal h2 {
    font-size: 1.5rem;
  }
}
